*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
   
}


html { 
    background: url(./images/mapleWoodDarkVertical.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

  h1 {
      text-align: center;
font-weight: 600;
color: beige;
font-size: 80px;
  }

  .nav {
    width: 180px;
    height: 40px;
    background-color: beige;
    text-align: center;
    border-radius: 20%;
    padding: 50px;
  }

 div{

    padding: 20px;
 }
  .navigationSearch{
    justify-content: space-around;
    display: flex;
  }

  .navicon{
    display: none;
width: 130px;

  }


#randomRecipeImage {

height:100px;

  }

 #randomRecipeTitle {

    font-size: 150px;
  }

  .searchResults img{

    text-align: right;
  }

  #randomRecipeTitle{
font-size: 50px;

  }
  .addsecondingredient{

    display: none;
  }

  .addThirdIngredient {

    display:none;
  }

  form {
    text-align: center;
  }