* {
  /*font-family: "Quicksand", sans-serif;*/
  box-sizing: border-box;
  font-family: "Cinzel", serif;
}


A {
  color: black;

  text-decoration: none;
}

div{

  margin-top: 50px;
}


section {
  text-align: center;
  margin-top: 80px;
}
.headercont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

html {

  background-color: wheat;
}

H1{
  color: darkgreen;
  font-family: cursive;
  text-align: center;
  font-weight: 400
}

.nav{
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 80%;
  padding: 20px;
  background-color: beige;
  text-align: center;
  border-radius: 20%;
  margin-top: 20px;
}



#randomRecipeImage {
  height: 100px;

  border-radius: 20%;
}

#ingredientRecipeImage {
  height: 100px;

  border-radius: 20%;
}




@media screen and (min-width: 770px) {

html {
  background: url(./images/mapleWoodDarkVertical.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headercont {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

h1 {
  text-align: center;
  font-weight: 400;
  color: darkgreen;
  font-size: 60px;
  margin-top: 10px;
  font-family: cursive;
}

h2 {
  margin-top: 0px;
  font-size: 40px;
}

h5{
text-align: center;
}


.nav {
  margin: 20px;
  height: 80px;
  width: 150px;
  padding: 20px;
  background-color: beige;
  text-align: center;
  border-radius: 20%;
}

.nav:hover {
  background-color: burlywood;
  cursor: pointer;
}

.navigationSearch {
  justify-content: space-around;
  display: flex;
}

#randomRecipeImage {
  height: 200px;
  float: left;
  border-radius: 20%;
}

#ingredientRecipeImage {
  height: 200px;
  float: left;
  border-radius: 20%;
}

#RecipeTitle {
  font-size: 30px;
  font-weight: 600;
}

#ingredientRecipies button {
  text-align: center;
}

section {
  text-align: center;
  margin-top: 80px;
}

A {
  color: black;

  text-decoration: none;
}

.randomResults {
  text-align: center;
}

#ingredientRecipies {
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;

  margin: 150px;
}
.randomRecipies {
  margin-left: auto;
  margin-right: auto;
  margin: 50px;
}

.searchResults {
  text-align: center;
}


fieldset{

  border: none;
}